@import "../Helpers/variables";
@import "../Helpers/mixin";

.mainPage {
    height: 100vh;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 100%;
        padding: 2rem;
        background-color: white;

        @include sm {
            width: 50%;
            max-width: 450px;
            border-radius: 1rem;
            box-shadow: 0 0 0.5rem 1px #4e4e4e;
        }

        &_btn {
            width: 100%;
            color: white;
            background-color: $mainColor;
            border: none;
            border-radius: 0.2rem;
            padding: 0.6rem;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}
